.notFound {
  display: flex;
  align-items: center;
  padding-top: 5%;
  justify-content: flex-start;
  flex-direction: column;
}

.notFound img {
  width: 50%;
  height: 80%;
  margin-bottom: 20px;
}
