.category{
    display: flex;
gap:50px;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
margin-left:25px;
padding-top:5%;
overflow-y: scroll;
}


.main-block_type_category{
    justify-content: flex-start;
}
.category__teg{
    cursor: pointer;
background-color: black;
}
.category__link{
    display: flex;
    align-items: flex-end;
    justify-content: center;
width:100px;
margin-right:20px;
  padding:10px;
    cursor: pointer;
background-color: rebeccapurple;
}
.category__bottom{
    display: flex;
    gap:130px;
   
    padding:25px
}

.category__post-title{
    margin-bottom:16px;
}

.category__zakrep{
    max-width:1000px;
 
}
.cat__fav{
    display: flex;
    flex-wrap:wrap;
 gap:20px;
flex-direction: column;
}
.category__link_open{
    margin-top:25px;
}
.category__img{
    width:100%;
    height:220px;
object-fit: cover;
    border-radius:10px;
cursor: pointer;
}

.category__img:hover{
    transition: .3s;
    opacity:0.8;
}
.category__link:hover{
    transition: .3s;
    opacity:0.8;
}

.category__link:active{
    transform: translate(0px,2px);
}
.category__teg h3{

margin-bottom:0.5rem;
}

.category__img_s{
   object-position: top;
   object-fit: auto;

}
.usergif{
    display: flex;
    align-items: center ;
}
.usergif img {
    width:35px;
    margin-left:10px;
    height:35px
}

.videos__video{
    max-width:300px;
    height:200px;

}

@media screen  and (max-width: 1270px) {
    .category__bottom{
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}