.main-block_type_news {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}
.gif {
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 5px;
}
.main-block_type_news p,
h3,
h4 {
  display: inline;
}

.messages__dop {
  color: rgb(185, 158, 158);
}
